@font-face {
    font-family: "Nunito-Sans-Regular";
    src: url("../Fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "Yeseva-One-Regular";
    src: url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: black;
    padding: 13px 33px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    /* width: 676px; */
}

.subtitle {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.logo {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.header-navigation {
    list-style-type: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item a {
    text-decoration-line: none;
    color: white;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.header-navigation_item a:hover {
    color: #E3B873;
}

.phone {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.main-block {
    background-image: url("../Images/main-image.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.main-block-container {
    position: relative;
    z-index: 1;
}

.main-block-container p {
    /* width: 504px; */
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.title .color {
    color: #E3B873
}

.main-block-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}

.main-block button {
    width: 207px;
    height: 51px;
    padding: 19px 22px;
    margin-right: 20px;
}


/* .button-white {
    margin-left: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff00;
} */

.button:hover {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff00;
}

.completed-projects-block {
    margin: 0;
    background-color: black;
    height: 1074px;
}

.completed-projects-navigation {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 107px;
}

.completed-projects-navigation_item {
    padding-right: 60.5px;
}

.completed-projects-navigation_item a {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration-line: none;
}

.completed-projects-navigation_item a:hover {
    color: #E3B873;
    text-decoration-line: underline;
}

.completed-projects-block_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 53px;
}

.completed-projects-block_content__text h2 {
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 34px;
}

.completed-projects-block_content__text p {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
    margin: 0;
}

.completed-projects-block_table {
    border: none;
    margin-top: 42px;
}

.completed-projects-block_table th {
    text-align: left;
    padding-bottom: 9px;
}

th .city {
    margin-right: 124px;
}

th .area {
    margin-right: 89px;
}

th .time {
    margin-right: 34px;
    padding-top: 34px;
}

th .cost {
    margin-right: 84px;
    padding-top: 34px;
}

.completed-projects-block_table td {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
}

.completed-projects-block_content__slider {
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.completed-projects-block_content__slider .arrow-left {
    margin-left: -20px;
}

.completed-projects-block_content__slider .arrow-right {
    margin-right: -20px;
}

.completed-projects-block_image img {
    width: 679px;
    height: 482px;
}